[Unit]
Description=Raspi Release Agent
Documentation=https://github.com/andrew-bodine/raspi-workspace

[Service]
ExecStart=/opt/raspi/bin/raspi-release-agent

[Install]
WantedBy=multi-user.target
