#!/bin/bash

export WORKSPACE=$PWD

if [ "${NAME}" != "" ] && [ "${EMAIL}" != "" ]; then
    git config user.name "${NAME}"
    git config user.email "${EMAIL}"
else
    echo "Please set NAME and EMAIL env variables; git user info will NOT be managed!"
fi
