[Unit]
Description=Raspi Monitor
Documentation=https://github.com/andrew-bodine/raspi
#After=raspi-release-agent

[Service]
ExecStart=/usr/local/bin/raspi-monitor \
    #--vibrPin=21 --vibrPinPollRate=1s --vibrMinPeriod=1s \
    --tempPin=22 --tempPinPollRate=3s

[Install]
WantedBy=multi-user.target
