[Unit]
Description=Raspi Release Proxy
Documentation=https://github.com/andrew-bodine/raspi

[Service]
ExecStart=/usr/local/bin/raspi-release-proxy

[Install]
WantedBy=multi-user.target
